<script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>

<script>

SC.initialize({
  client_id: '<%= ENV['soundcloud_id'] %>'
});

$(document).ready(function(){
  fetchPlaylist();
  playSong();
  pause();
  deleteSong();
  search();
  addSong();
})

function renderSong(song, key){
  $("#latest-songs").prepend(
    "<br><div class='song' data-id='" +
    song.id +
    "' song_key='" + key +  "'>" + song.title +
    " by " + song.user.username +
    "        <br><button id='play-song' class='btn btn-default btn-xs'>Play</button>" +
    "<button id='pause-song' class='btn btn-default btn-xs'>Pause</button>"+
    "<button id='delete-song' class='btn btn-default btn-xs'>Remove</button></div>"
  )
}

function fetchSong(song_key){
  $.ajax({
    type:    "GET",
    url:     "http://api.soundcloud.com/tracks/" + song_key + "?client_id=" + "<%= ENV['soundcloud_id'] %>",
    success: function(song) {
      renderSong(song, song_key)
    }
  })
}

function fetchPlaylist(){
  $.ajax({
    type:    "GET",
    url:     "<%= ENV['url'] %>" + "api/v1/" + "<%= mood %>",
    success: function(playlist) {
      $.each(playlist, function(index, song){
        fetchSong(song.song)
      })
    }
  })
}

var stream;

function playSong(){
  $("#latest-songs").delegate("#play-song","click", function(){
    var song   = $(this).closest('.song')[0].outerHTML.split("\"")[5]
    var url   = "/tracks/" + song
    if(!stream) {
      startStream(url)
    }
    else {
      pauseTrack()
      startStream(url)
    }
  })
}

function pause() {
  $("#latest-songs").delegate("#pause-song","click", function(){
    pauseTrack()
  });
}

function pauseTrack() {
  if(stream) {
    stream.pause();
  }
}

function startStream(url) {
  SC.stream(url, function(sound){
    stream = sound;
    autoPlay: true,
    sound.play();
  });
}

function deleteSong(){
  $("#latest-songs").delegate("#delete-song","click", function(){
    var song = $(this).closest(".song")
    $.ajax({
      type:    "DELETE",
      url:     "<%= ENV['url'] %>" + "api/v1/" + "<%= mood %>" + "/" + song.attr('song_key') + ".json",
      success: function() {
        song.remove()
      },
      error: function() {
        song.remove()
      }
    })
  })
}

function search(){
  $('#search').keyup(function (){
    $('#results').empty();
    var query = document.getElementById("search").value;
    if(query) {
      results(query);
    }
  });
}

function results(track) {
  SC.get('/tracks', { q: track}, function(tracks) {
    $.each(tracks, function(index, song){
      renderResult(song)
    })
  });
}

function renderResult(song){
  $("#results").append(
    "<div class='result' data-id='" +
    song.id +
    "'>" + song.title +
    " by " + song.user.username +
    "<button id='add-song' class='btn btn-default btn-xs'>Add Song</button></div>"
  )
}

function addSong(){
  $("#results").delegate("#add-song","click", function(){
    var song = $(this).closest(".result")[0].outerHTML.split("\"")[3]
    saveSong(song);
  })
}

function saveSong(songID) {
  var songParams = {
    new: {
      song: songID
    }
  }
  $.ajax({
    type:    "POST",
    url:     "<%= ENV['url'] %>" + "api/v1/" + "<%= mood %>" + ".json",
    data:    songParams,
    success: function(song) {
      fetchSong(songID)
    }
  })
}

</script>
